<h1 align=center><font size = 5>Working with a real world data-set using SQL and Python</font></h1>

## Chicago Public Schools - Progress Report Cards (2011-2012) 

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

#### Store the dataset in a Table in the IBM database Db2

### Connect to the database
Let us now load the ipython-sql  extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
# @hidden_cell
# Enter the connection string for Db2 on Cloud database
%sql ibm_db_sa://xfz07493:w5%2Bz4ndp93lqp9jb@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB

'Connected: xfz07493@BLUDB'

### Query the database system catalog to retrieve table metadata

##### Retrieving the list of all tables in our schema and checking whether the SCHOOLS table was created

In [4]:
#list of all tables in the database for our db2 schema (username)
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('XFZ07493', 'EMPLOYEES', datetime.datetime(2020, 9, 20, 1, 46, 28, 741188)),
 ('XFZ07493', 'JOB_HISTORY', datetime.datetime(2020, 9, 20, 1, 46, 28, 859319)),
 ('XFZ07493', 'JOBS', datetime.datetime(2020, 9, 20, 1, 46, 28, 973102)),
 ('XFZ07493', 'DEPARTMENTS', datetime.datetime(2020, 9, 20, 1, 46, 29, 88371)),
 ('XFZ07493', 'LOCATIONS', datetime.datetime(2020, 9, 20, 1, 46, 29, 202249)),
 ('XFZ07493', 'PETSALE', datetime.datetime(2020, 9, 20, 2, 40, 35, 586320)),
 ('XFZ07493', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2020, 9, 20, 15, 39, 15, 916750)),
 ('XFZ07493', 'INSTRUCTOR', datetime.datetime(2020, 9, 20, 14, 56, 33, 394704)),
 ('XFZ07493', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2020, 9, 20, 18, 44, 48, 138843)),
 ('XFZ07493', 'SCHOOLS', datetime.datetime(2020, 9, 21, 0, 41, 20, 440941)),
 ('XFZ07493', 'CENSUS_DATA', datetime.datetime(2020, 9, 21, 2, 6, 13, 35191)),
 ('XFZ07493', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2020, 9, 21, 2, 26, 55, 895263)),
 ('XFZ07493', 'CHICAGO_CRIME_DATA', datetime.datetime(2020, 9, 21, 2, 36, 14, 285141))]

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. Let's see how many columns this table have?

In [5]:
#retrieving the number of columns in the SCHOOLS table
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

Now we retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [6]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS' limit 5

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Pk_2_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR', 4)]

In [7]:
%sql select COLNAME from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('10th Grade PLAN (2009)',),
 ('10th Grade PLAN (2010)',),
 ('11th Grade Average ACT (2011)',),
 ('9th Grade EXPLORE (2009)',),
 ('9th Grade EXPLORE (2010)',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('Adequate_Yearly_Progress_Made_',),
 ('Average_Teacher_Attendance',),
 ('COLLEGE_ENROLLMENT',),
 ('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('CPS_Performance_Policy_Level',),
 ('CPS_Performance_Policy_Status',),
 ('City',),
 ('Collaborative_Name',),
 ('College_Eligibility__',),
 ('College_Enrollment_Rate__',),
 ('Elementary, Middle, or High School',),
 ('Environment_Icon',),
 ('Environment_Score',),
 ('Family_Involvement_Icon',),
 ('Family_Involvement_Score',),
 ('Freshman_on_Track_Rate__',),
 ('General_Services_Route',),
 ('Gr3_5_Grade_Level_Math__',),
 ('Gr3_5_Grade_Level_Read__',),
 ('Gr3_5_Keep_Pace_Math__',),
 ('Gr3_5_Keep_Pace_Read__',),
 ('Gr6_8_Grade_Level_Math__',),
 ('Gr6_8_Grade_Level_Read__',),
 ('Gr6_8_Keep_Pace_Math_',),
 ('Gr6_8_Keep_Pace_Read__',),
 ('Gr_8_Explore_Math__',),
 ('Gr_8_Explore_Read__',),
 ('Graduation_Rate__',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('ISAT_Exceeding_Math__',),
 ('ISAT_Exceeding_Reading__',),
 ('ISAT_Value_Add_Color_Math',),
 ('ISAT_Value_Add_Color_Read',),
 ('ISAT_Value_Add_Math',),
 ('ISAT_Value_Add_Read',),
 ('Individualized_Education_Program_Compliance_Rate',),
 ('Instruction_Icon',),
 ('Instruction_Score',),
 ('Latitude',),
 ('Leaders_Icon',),
 ('Leaders_Score',),
 ('Link',),
 ('Location',),
 ('Longitude',),
 ('NAME_OF_SCHOOL',),
 ('Net_Change_EXPLORE_and_PLAN',),
 ('Net_Change_PLAN_and_ACT',),
 ('Network_Manager',),
 ('Parent_Engagement_Icon',),
 ('Parent_Engagement_Score',),
 ('Parent_Environment_Icon',),
 ('Parent_Environment_Score',),
 ('Phone_Number',),
 ('Pk_2_Literacy__',),
 ('Pk_2_Math__',),
 ('Police_District',),
 ('Rate_of_Misconducts__per_100_students_',),
 ('SAFETY_SCORE',),
 ('Safety_Icon',),
 ('School_ID',),
 ('State',),
 ('Street_Address',),
 ('Students_Passing__Algebra__',),
 ('Students_Taking__Algebra__',),
 ('Teachers_Icon',),
 ('Teachers_Score',),
 ('Track_Schedule',),
 ('Ward',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('ZIP_Code',)]

##### Let's see how many Elementary Schools are in the dataset

In [8]:
%sql select count(*) from SCHOOLS  where "Elementary, Middle, or High School" = 'ES'

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('462'),)]

##### Let's see what the highest Safety Score is

In [9]:
%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(99,)]

##### Which schools have highest Safety Score?

In [10]:
%sql select NAME_OF_SCHOOL, Safety_Score from SCHOOLS where \
Safety_Score = (select MAX(Safety_Score) from SCHOOLS);

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 99),
 ('Alexander Graham Bell Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Sauganash Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [12]:
%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [30]:
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

##### Let's remove the '%' sign from the above result set for Average Student Attendance column

In [13]:
%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

##### Which Schools have Average Student Attendance lower than 70%?

In [14]:
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]

##### Get the total College Enrollment for each Community Area

In [15]:
%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [16]:
%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

##### Get the hardship index for the community area which has College Enrollment of 4638

In [17]:
%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(6.0,)]

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [18]:
%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

 * ibm_db_sa://xfz07493:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(5.0, 'North Center', 6.0)]